<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks and queue</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
        window.onload = function() {

            const updatePage  = () => {
                $('.document').load('ajax .document');
            }

            window.setInterval(updatePage, 5000);
        };

    </script>
</head>
<body>

<div id="hd">
    <h1>Парсер H1 & title тэгов</h1>
</div>
    <div class ='document'>
        <div id="yui-main">
            <div class ='yui-b'>
                {% for task in tasks %}
                {{ task }}<br>
                {% endfor %}
            <hr>
                {% for item in reports %}
                  {{ item }}<br>
                {% endfor %}
            </div>
            </div>

    </div>
</body>
</html>