<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tasks and queue</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/updatePage.js' %}"></script>
</head>

<body>
    <div class='document'>
        <div id='taskContainer'>
            <div class="tasks scrollBox" id='tasks_{{tasks|length}}'>
                {% for task in tasks %}
                <div class="color_{{task.status}}">{{ task.format_dashboard }}</div>
                {% endfor %}
            </div>
            <hr>
            <div class="reports scrollBox" id='reports_{{reports|length}}'>
                {% for item in reports %}
                <div class="color_{{item.usertask.status}}">{{ item.format_dashboard }}</div>
                {% endfor %}
            </div>
        </div>

    </div>
</body>

</html>